body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fdfce7;
}

header {
    background: linear-gradient(to right, #ffc0cb, #ffeb99);
    padding: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
}

footer {
    background: linear-gradient(to right, #ffc0cb, #ffeb99);
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* mezera mezi kruhy */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* zarovnání na střed */
}

.circle {
    width: 300px; /* zvětšeno pro výraznost */
    height: 300px; /* zvětšeno pro výraznost */
    border-radius: 50%;
    background: linear-gradient(to right, #ffc0cb, #ffeb99);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-decoration: none; /* odstranění podtržení odkazu */
    transition: transform 0.3s ease; /* efekt při hoveru */
}

.circle:hover {
    transform: scale(1.1); /* zvětšení při najetí myší */
}

a {
    text-decoration: none; /* odstraní podtržení */
    color: inherit; /* dědí barvu textu z rodičovského elementu */
}
.login-container {
    background: white;
    padding: 10px;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgb(71, 34, 9);
}
input {
    width: 96%;
    padding: 8px;
    margin: 5px 0;
}
button {
    width: 100%;
    padding: 10px;
    background-color:#ffc0cb;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.error {
    color: red;
}
.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: black;
}
th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}
th {
    background-color: #ffeb99;
    color: black;
}
td {
    background-color: #ffc0cb;
}
td:nth-child(even) {
    background-color: #ffc0cb;
}
.circle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #fdd8d8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}